.App {
  text-align: center;
  background-color: var(--background-color);
}
:root {
  --line-color: rgb(218, 220, 224);
  --selected-color: rgb(237, 235, 233);
  --selected-focus: rgb(220, 218, 216);
  --selected-bar-color: rgb(0, 120, 212);
  --icon-color: rgb(16, 110, 190);
  --background-color: white;
  --hover-color: rgb(243, 242, 241);
  --detail-background: #f8f9fa;
  --text-color: rgb(50, 49, 48);
  --drop-shadow: gray;
  --button-color: white;
  --tag-item-color: rgb(243, 242, 241);
}

#root {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] {
  --background-color: rgb(24, 25, 27);
  --text-color: white;
  --hover-color: rgb(22,25,27);
  --line-color: rgb(54, 55, 58);
  --detail-background: rgb(36, 37, 40);
  --selected-color:rgb(28, 56, 101);
  --drop-shadow: black;
  --button-color: rgb(39, 41, 44);
  --tag-item-color: var(--button-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.App-header {
  padding: 10px 60px 10px 60px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('../public/favicon.ico');
  background-repeat: no-repeat;
  background-position: left;
  margin: 10px 40px;
  color: var(--text-color)
}

.ms-CommandBar {
  padding-left: 0;
}
.TagList {
  border-right: var(--line-color) solid 1px;
  width: 20em;
  overflow-y: auto;
  overflow-x: auto;
  padding: 3px;
}

.ListView {
  width: 25em;
  overflow-y: auto;
  overflow-x: auto;
  padding: 1em;
}

.ListItem {
  width: 100%;
  #height: 8em;
  text-align: left;
  border-width: 0 0 1px 0;
}

.ListItem:hover {
  background-color: var(--hover-color);
  color: var(--selected-bar-color);
}

.ListItem:hover .ms-DocumentCardTitle {
  color: var(--selected-bar-color);
}

.TitleField {
  width: 100%;
  padding: 3px;
}
.ms-TextField-fieldGroup {
  border-radius: 10px;
  border-color: var(--line-color);
}

.BodyFieldShimmer {
  display: flex;
  flex: 1;
}

.BodyFieldShimmer .ms-Shimmer-dataWrapper {
  width: 100%;
  height: 100%;
}

.BodyField {
  flex: 1;
  border-radius: 10px;
  background-color: var(--line-color);
  margin: 1em !important;
  width: 98%;
  height: 95%;
}

.ItemTags .ms-BasePicker-text {
  border-color: var(--line-color);
  border-radius: 7px;
}

.ms-Dropdown-title {
  border-color: var(--line-color);
  border-radius: 7px;
}

.ItemTags {
  flex: 1;
  padding: 0 1em;
}

.ms-TagItem {
  background-color: var(--tag-item-color);
}

.MainView {
  height: 90vh;
  flex: 1;
  #padding: 3px;
  border-top: var(--line-color) solid 1px;
}

.SearchBox {
  flex: 1;
  border-radius: 10px;
  border: none;
  margin: 0 7em;
  background-color: var(--line-color);
  height: 3em;
}

.Hamburger {
  width: 3em;
  height: 3em;
  border-style: none;
  margin-right: 10px;
  margin-left: 20px;
  background-color: var(--background-color);
}

.Hamburger i {
  font-size: 28px;
  color: var(--selected-bar-color);
}

.DetailCard {
  flex: 1;
  border-left: var(--line-color) solid 1px;
  background-color: var(--detail-background);
}

.DetailCardShimmer {
  min-height: 158px;
}

.DateField {
  min-width: 9em;
  margin-right: 1em;
}

.CardRow1, .CardRow2 {
  padding: 0.75em 1em 0.75em 1em;
  min-height: 3em;
  background-color: var(--background-color);
  border-bottom: var(--line-color) solid 1px;
}


.NotebookIcon {
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

.NotebookDropdown {
  width: 10em;
}

.TagList .ms-Button-flexContainer {
  padding-left: 20px;
}

.ListItemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ListItem.is-active {
  background-color: var(--selected-color);
  border-left: 2px var(--selected-bar-color) solid;
}

.ListItem.is-selected {
  background-color: var(--selected-color);
}

.badge {
  position: absolute;
  background: var(--icon-color);
  color: var(--background-color);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  right: -10px;
  padding-top: 1px;
  top: 0px;
}

.Command .ms-Icon, .CommandButton {
  font-size: 36px;
  padding-top: 8px;
  fill: var(--icon-color);
  height: 36px;
}

.Command .ms-Icon {
  padding-top: 3px;
}

.Command {
  margin-right: 2em;
  top: 0.8em;
  width: 36px;
}

.MultiFolderIcon {
  width: 5em;
}

.TagDialog div  {
  overflow-y: visible !important;
}

.ms-DocumentCardStatus {
  background-color: var(--detail-background);
}

.NewNoteButton {
  font-size: 14px;
  width: 160px;
  padding: 1.8em;
  border-radius: 48px;
  border-style: none;
  margin: 1em;
  background-color: var(--button-color);
  filter: drop-shadow(0 1px 0.1rem var(--drop-shadow));
}

.NewNoteButton i {
  color: var(--icon-color);
}

.Separator {
  color: var(--line-color) !important;
}

.Attachments {
  display: flex;
  padding: 5px 10px;
  margin: 5px 15px;
  color: var(--text-color);
}

.AttachmentName {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  white-space: nowrap;
}

.LoadingModalView {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
}

.LoadingModalView .ms-Spinner {
  flex: 1;
}
