.App {
  text-align: center;
}
:root {
  --line-color: rgb(218, 220, 224);
  --selected-color: rgb(237, 235, 233);
  --selected-bar-color: rgb(0, 120, 212);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  #background-color: white;
  #min-height: 10vh;
  #display: flex;
  #flex-direction: column;
  #align-items: flex-start;
  padding: 10px 60px 10px 60px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  #color: white;
  background-image: url('../public/favicon.ico');
  background-repeat: no-repeat;
  background-position: left;
  margin: 10px 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ms-CommandBar {
  padding-left: 0;
}
.TagList {
  border-right: var(--line-color) solid 1px;
  width: 20em;
  overflow-y: auto;
  overflow-x: auto;
  padding: 3px;
}

.ListView {
  width: 25em;
  overflow-y: auto;
  overflow-x: auto;
  padding: 1em;
}

.ListItem {
  width: 100%;
  #height: 8em;
  text-align: left;
  border-width: 0 0 1px 0;
}

.ListItem:hover {
  background-color: rgb(243, 242, 241);
  color: var(--selected-bar-color);
}

.ListItem:hover .ms-DocumentCardTitle {
  color: var(--selected-bar-color);
}

.TitleField {
  width: 100%;
  padding: 3px;
}
.ms-TextField-fieldGroup {
  border-radius: 10px;
  border-color: var(--line-color);
}

.BodyField {
  flex: 1;
  border-radius: 10px;
  background-color: var(--line-color);
  margin: 1em !important;
}

.ItemTags .ms-BasePicker-text {
  border-color: var(--line-color);
  border-radius: 7px;
}

.ms-Dropdown-title {
  border-color: var(--line-color);
  border-radius: 7px;
}

.ItemTags {
  flex: 1;
  padding: 0 1em;
}

.MainView {
  height: 90vh;
  flex: 1;
  #padding: 3px;
  border-top: var(--line-color) solid 1px;
}
.footer {
  text-align: right;
  border-top: 1px solid gray;
  padding: 2px;
}
.SearchBox {
  flex: 1;
  border-radius: 10px;
  border: none;
  margin: 0 7em;
  background-color: var(--line-color);
  height: 3em;
}

.Hamburger {
  width: 3em;
  height: 3em;
  border-style: none;
  margin-right: 10px;
  margin-left: 20px;
  background-color: white;
}
.DetailCard {
  flex: 1;
  border-left: var(--line-color) solid 1px;
  background-color: #f8f9fa;
}
.DateField {
  min-width: 9em;
  margin-right: 1em;
}

.CardRow1, .CardRow2 {
  padding: 0.75em 1em 0.75em 1em;
  min-height: 3em;
  background-color: white;
  border-bottom: var(--line-color) solid 1px;
}


.NotebookIcon {
  background-image: url('../public/inbox.svg');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

.TagList .ms-Button-flexContainer {
  padding-left: 20px;
}

.ListItemTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ListItem.is-selected {
  background-color: var(--selected-color);
  border-left: 2px var(--selected-bar-color) solid;
}
